<?xml version="1.0" encoding="UTF-8"?>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new zaavka</title>
</head>
<head>
    <title>Credit Application</title>
</head>
<body>
<h1>New Credit Application</h1>
<form action="/applications/new" method="post">
    <select name="clientId">
        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.fullName}"></option>
    </select>
    <input type="text" name="desiredLoanAmount" placeholder="Loan Amount">
    <button type="submit">Submit</button>
</form>
</body>
</html>
